div.sticky_error-suffix, div.sticky_error-prefix {
  color: #FF0000;
  font-size: 13px;
  width: 500px;
  font-style: italic;
}
div.sticky_error-suffix {margin: -15px 0 0 0;}
div.sticky_error-prefix {margin: 0 0 -15px 0;}